root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
indent_brace_style = K&R
curly_bracket_next_line = false
spaces_around_operators = true
max_line_length = 120
tab_width = 2
indent_size = 2
continuation_indent_size = 4
indent_style = tab
insert_final_newline = true

[*.py]
indent_style = space
indent_size = 4
continuation_indent_size = ignore
max_line_length = ignore

[*.{js,php,md}]
indent_style = space

[{package.json,.travis.yml}]
indent_style = space

[*.min.*]
indent_style = ignore
trim_trailing_whitespace = false
insert_final_newline = ignore
max_line_length = 6000

[*.{php,md}]
trim_trailing_whitespace = false
